body {
    background-color: #BC8F8F;
    font-family: Helvetica;
	}

	h1 {
    color: white;
    text-align: center;
	}
    
    h2 {
    color: white;
    font-family: Garamond, Baskerville;
    text-align: center;
    font-style: italics;
    font-size: 20px;
	}
    
    h3 {
    font-size: 14px;
    
    text-align: center;
	}
    
    h4 {
    color: white;
    font-size: 9px;
    font-style: italic;
	}

	p {
    font-size: 14px;
     font-family: Garamond, Baskerville;
      
	}
    
 
    
    
    
    
    
    